<div class="jumbotron text-center">
  <h1>Welcome to codingyard!</h1>

  <p>Share your solutions to coding competitions! :)</p>
  <br/>
  <a href="https://github.com/TurtleShip/codingyard" target="_blank" class="btn btn-success">Fork me on
    Github</a>
  <a href="https://github.com/TurtleShip/codingyard/issues" target="_blank" class="btn btn-primary">Report
    an issue</a>

</div>

<div class="jumbotron">
  <div class="row">
    <div class="col-sm-5">
      <h3 class="text-center">Top <%= @top_uploaders.size %> uploaders</h3>

      <table class="table table-striped table-condensed">
        <thead>
        <tr>
          <th></th>
          <th>Total</th>
          <th>Codeforces</th>
          <th>TopCoder</th>
          <th>UVa</th>
        </tr>
        </thead>

        <tbody>
        <% @top_uploaders.each do |user| %>
            <tr>
              <td><%= link_to(user.username, user_path(user)) %></td>
              <td><%= user.solutions_count %></td>
              <td><%= user.codeforces_round_solutions_count %></td>
              <td><%= user.top_coder_srm_solutions_count %></td>
              <td><%= user.uva_solutions_count %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-sm-offset-2 col-sm-5 text-center">
      <h3>Currently hosting</h3>

      <%= link_to "#{@codeforces_total} Codeforces solutions", codeforces_round_solutions_path %><br/>
      <%= link_to "#{@topcoder_srm_total} TopCoder SRM solutions", top_coder_srm_solutions_path %><br/>
      <%= link_to "#{@uva_total} UVa solutions", uva_solutions_path %><br/>


      <b>Powered by <%= link_to "#{@activated_user_total} users", users_path %></b>
    </div>

  </div>

</div>

