<div class="jumbotron text-center">
  <h1 id="welcome_title">Welcome to codingyard!</h1>

  <p id="welcome_subtitle">Share your solutions to coding competitions! :)</p>
  <br/>
  <a id="fork_me" href="https://github.com/TurtleShip/codingyard" target="_blank" class="btn btn-success">Fork me on
    Github</a>
  <a id="report_issue" href="https://github.com/TurtleShip/codingyard/issues" target="_blank" class="btn btn-primary">Report
    an issue</a>


</div>

<div class="jumbotron" id="leaderboard">
  <h3 class="font_kaushan_script">Top <%= @top_uploaders.size %> uploaders</h3>

  <table class="table table-striped table-condensed">
    <thead>
    <tr>
      <th></th>
      <th>Total</th>
      <th>Codeforces</th>
      <th>TopCoder</th>
      <th>UVa</th>
    </tr>
    </thead>

    <tbody>
    <% @top_uploaders.each do |user| %>
        <tr>
          <td><%= link_to(user.username, user_path(user)) %></td>
          <td><%= user.solutions_count %></td>
          <td><%= user.codeforces_round_solutions_count %></td>
          <td><%= user.top_coder_srm_solutions_count %></td>
          <td><%= user.uva_solutions_count %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

</div>

<div class="jumbotron" id="welcome_stats">
  <h3 class="font_kaushan_script">Currently hosting</h3>
  <ul>
    <li><%= link_to "#{@codeforces_total} Codeforces solutions", codeforces_round_solutions_path %></li>
    <li><%= link_to "#{@topcoder_srm_total} TopCoder SRM solutions", top_coder_srm_solutions_path %></li>
    <li><%= link_to "#{@uva_total} UVa solutions", uva_solutions_path %></li>
  </ul>

  Powered by <%= link_to "#{@activated_user_total} users", users_path %>
</div>

