<h1 class="text-center" id="login_header">Log in</h1>

<div class="text-center">

  <%= form_for(:session, url: login_path) do |form| %>

      <div class="form-inline">
        <%= form.label :username, class: 'form_label text-right' %>
        <%= form.text_field :username, class: 'form-control form_value' %>
      </div>

      <div class="form-inline">
        <%= form.label :password, class: 'form_label text-right' %>
        <%= form.password_field :password, class: 'form-control form_value' %>
      </div>
      <%= link_to '(forgot password)', new_password_reset_path, class: 'font_architects_daughter' %>
      <br/>

      <%= form.submit 'Log in', class: 'btn btn-success', id: 'login_button' %>

      <%= form.label :remember_me, class: 'checkbox inline' do %>
          <%= form.check_box :remember_me %>
          <span id="remember_me">Remember me on this computer</span>
      <% end %>
  <% end %>

</div>