<%= form_for @solution, html: {class: 'form-horizontal'} do |form| %>
    <%= render 'shared/error_messages', object: form.object %>

    <div class="form-group">
      <%= form.label :srm_number, 'SRM number :', class: 'control-label solution-form-label' %>
      <div class="solution-form-field">
        <%= form.number_field :srm_number, required: true, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :division_number, 'Division number :', class: 'control-label solution-form-label' %>
      <div class="solution-form-field">
        <%= form.select(:division_number, {'1' => 1, '2' => 2}, {required: true}, class: 'form-control') %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :difficulty, 'Difficulty :', class: 'control-label solution-form-label' %>
      <div class="solution-form-field">
        <%= form.select(:difficulty, {easy: :easy, medium: :medium, hard: :hard}, {required: true},
                        class: 'form-control') %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :language, 'Language :', class: 'control-label solution-form-label' %>
      <div class="solution-form-field">
        <%= select_tag(:language,
                       options_from_collection_for_select(@languages, :name, :name),
                       required: true, class: 'form-control') %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :original_link, 'Link to the problem : ', class: 'control-label solution-form-label' %>
      <div class="solution-form-field">
        <%= form.url_field(:original_link, class: 'form-control', size: 50) %>
      </div>
    </div>

    <% unless @solution.id %>
        <div class="form-group">
          <%= form.file_field :attachment, required: true, accept: @supported_file_types, class: 'solution-form-attachment' %>
        </div>
    <% end %>

    <div class="text-center">
      <%= form.submit yield(:button_text), class: 'btn btn-success' %>
    </div>

<% end %>
