<h1 class="title">TopCoder SRM Solutions</h1>

<%= will_paginate %>

<%= form_tag top_coder_srm_solutions_path, method: :get, class: 'form-inline text-center' do %>
    <div class="form-group">
      <%= label_tag :srm_number, 'SRM: ', class: 'control-label' %>&nbsp;
      <%= number_field_tag :srm_number, nil, min: 1, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= label_tag :division_number, 'Division: ', class: 'control-label' %>&nbsp;
      <%= select_tag :division_number, options_for_select([['N/A', nil], [1, 1], [2, 2]]), class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= label_tag :difficulty, 'Level:', class: 'control-label' %>&nbsp;
      <%= select_tag :difficulty,
                     options_for_select([['N/A', nil], %w(easy easy), %w(medium medium), %w(hard hard)]),
                     class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= label_tag :author, 'Author: ', class: 'control-label' %>&nbsp;
      <%= search_field_tag :author, nil, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= label_tag :Language, 'Language: ', class: 'control-label' %>&nbsp;
      <%= select_tag(:language, options_for_select([['N/A', nil]]) +
                                      options_from_collection_for_select(@languages, :name, :name),
                     class: 'form-control') %>
    </div>

    <div class="form-group">
      <%= submit_tag :search!, name: nil, class: 'btn btn-success' %>
    </div>
<% end %>

<ul>
  <% @warnings.each do |warning| %>
      <li><%= warning %></li>
  <% end %>
</ul>

<table class="table table-striped">
  <thead>
  <tr>
    <th>SRM</th>
    <th>Division</th>
    <th>Difficulty</th>
    <th>Author</th>
    <th>Language</th>
    <th>Likes</th>
    <th>Dislikes</th>
    <th>Upload time</th>
    <th>Show</th>
    <th>Download</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>
  </thead>
  <tbody>
  <%= render @top_coder_srm_solutions %>
  </tbody>


</table>

<%= will_paginate %>
