<%= form_for @user, html: {class: 'form-horizontal text-center'} do |form| %>
    <%= render 'shared/error_messages', object: form.object %>

    <% user_fields.each do |field| %>
        <div class="form-group">
          <%= form.label field, class: 'control-label col-sm-offset-3 col-sm-2 col-xs-offset-1 col-xs-2' %>
          <div class="col-sm-4 col-xs-8">
            <% if password_field? field %>
                <%= form.password_field field, required: required_field?(field), class: 'form-control' %>
            <% elsif email_field? field %>
                <%= form.email_field field, required: required_field?(field), class: 'form-control' %>
            <% else %>
                <%= form.text_field field, required: required_field?(field), class: 'form-control' %>
            <% end %>
          </div>
        </div>
    <% end %>

    <%= (link_to '(resend activation link)', new_account_activation_path) unless @user.id %><br/>

    <%= form.submit yield(:button_text), class: 'btn btn-success' %>
<% end %>