<tr class="solution_index_value">
  <td><%= codeforces_round_solution.user.username %></td>
  <td><%= codeforces_round_solution.language.name %></td>
  <td><%= codeforces_round_solution.round_number %></td>
  <td><%= codeforces_round_solution.division_number %></td>
  <td><%= codeforces_round_solution.level %></td>
  <td><%= codeforces_round_solution.created_at %></td>
  <td><%= link_to 'Show', codeforces_round_solution %></td>
  <td><%= link_to 'Download', download_codeforces_round_solution_path(codeforces_round_solution) %></td>
  <td><%= link_to 'Edit', edit_codeforces_round_solution_path(codeforces_round_solution) %></td>
  <td><%= link_to 'Destroy', codeforces_round_solution, method: :delete, data: {confirm: 'Are you sure?'} %></td>
</tr>