<%= form_for(@solution) do |form| %>
    <%= render 'shared/error_messages', object: form.object %>

    <div class="text-center">

      <div class="form-inline">
        <div class="panel panel-success">

          <div class="panel-heading solution_upload_sub_header">Required</div>

          <div class="panel-body">
            <div class="form-group">
              <%= form.label :round_number, 'Round number :', class: 'solution_form_label' %>
              <%= form.number_field :round_number, class: 'form-control solution_form_value solution_number_input' %>
            </div>

            <div class="form-group solution_add_margin">
              <%= form.label :division_number, 'Division number :', class: 'solution_form_label' %>
              <%= form.select(:level, {'1' => 1, '2' => 2}, class: 'form-control solution_form_value') %>
            </div>

            <div class="form-group solution_add_margin">
              <%= form.label :level, 'Level :', class: 'solution_form_label' %>
              <%= form.select(:level, {A: 'A', B: 'B', C: 'C', D: 'D', E: 'E'}, class: 'form-control solution_form_value') %>
            </div>


            <!-- TODO: Offer Language choice -->

            <%= file_field(:attachment, :file, class: 'font_architects_daughter') %>
          </div>

        </div>
      </div>


      <div class="form-inline">
        <div class="panel panel-warning">

          <div class="panel-heading solution_upload_sub_header">Optional</div>

          <div class="panel-body">
            <div class="form-group">
              <%= form.label :link, 'Link to the problem : ', class: 'solution_form_label' %>
              <%= url_field(:link, :findme, class: 'form-control') %>
            </div>
          </div>

        </div>
      </div>



      <%= form.submit yield(:button_text), class: 'btn btn-success' %>


      <p id="type_your_solution">.. or type your solution!</p>
      <!-- TODO: Gray out manual text input when attachment is chosen -->

      <div id="editor" style="height: 500px;" class="text-left font_architects_daughter">
      </div>

    </div>

<% end %>


<script>
    var editor = ace.edit('editor');
    editor.setTheme('ace/theme/twilight');
    editor.getSession().setMode("ace/mode/java");
    editor.setReadOnly(false); // make this thing editable
</script>

