<div class="panel panel-success">
  <div class="panel-heading solution_upload_sub_header">
    Solution info
  </div>
  <div class="panel-body">
    <% @solution_info.each do |attr_name, value| %>
        <div class="row">
          <div class="col-md-2 text-right solution_display_label">
            <%= attr_name %>
          </div>
          <div class="text-left solution_display_value">
            <%= value %>
          </div>
        </div>
    <% end %>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading solution_upload_sub_header">
    Solution
  </div>

  <div class="panel-body">
    <div id="editor" style="height: 500px">
      <%= @content %>
    </div>
  </div>
</div>


<%= link_to 'Upload more solutions!', new_codeforces_round_solution_path %>
<%= link_to 'See other solutions', codeforces_round_solutions_path %>


<script>
    var editor = ace.edit('editor');
    editor.setTheme('ace/theme/twilight');
    <% if @solution.language.name == 'cpp' %>
    editor.getSession().setMode("ace/mode/c_cpp"); // TODO: make me change depending on the language
    <% else %>
    editor.getSession().setMode('ace/mode/<%="#{@solution.language.extension}"%>'); // TODO: make me change depending on the language
    <% end %>

    editor.setReadOnly(true);
</script>
