<%= link_to 'Upload more solutions', yield(:upload_path) %>&nbsp;|&nbsp;
<%= link_to 'See other solutions', yield(:index_path) %>

<% @solution_info.each do |attr_name, value| %>
    <div class="row">
      <div class="col-xs-3 col-sm-2 text-right">
        <%= attr_name %>
      </div>
      <div class="col-xs-5">
        <%= value %>
      </div>
    </div>
<% end %>
<div class="row margin-bottom-sm">
  <div class="col-xs-3 col-sm-2 text-right">
    Author
  </div>
  <div class="col-xs-5">
    <%= link_to @solution.user.username, user_path(@solution.user), target: '_blank' %>
  </div>
</div>

<%= link_to "#{@solution.get_likes.size} Like", yield(:like_path), method: :post, class: "btn btn-success #{'disabled' unless can_like(@solution)}" %>
<%= link_to "#{@solution.get_dislikes.size} Dislike", yield(:dislike_path), method: :post, class: "btn btn-danger #{'disabled' unless can_dislike(@solution)}" %>
<%= link_to 'Cancel my vote', yield(:cancel_path), method: :post, class: "btn btn-info #{'disabled' unless can_cancel(@solution)}" %>
<%= link_to 'Download', yield(:download_path), class: 'btn btn-default' %>

<h4>
  Scroll down to comment!
</h4>
<div id="editor" class="margin-top-sm" style="height: 500px"><%= @content %></div>

<!-- Comment section -->
<h3>Comments</h3>

<!-- Display comments -->
<!-- For each comment, add reply button -->
<% @solution.root_comments.each do |comment| %>
    <%= comment.body %> by <i><%= comment.user.username %></i> at
    <i><%= comment.created_at.strftime('%I:%M%p %b / %d / %Y') %></i>
    <br/>

    <% if comment.has_children? %>
        <a href="javascript:void(0)" data-toggle="collapse" data-target="#comment-<%= comment.id %>-show-reply" aria-expanded="false">
          show <%= comment.children.size %> replies
        </a>
    <% end %>
    <div class="collapse" id="comment-<%= comment.id %>-show-reply">
      <% comment.children.each do |child| %>
          |--:&nbsp;<%= child.body %><br/>
      <% end %>
    </div>

    <% if can_comment? %>
        <%= '|' if comment.has_children? %>
        <a href="javascript:void(0)" data-toggle="collapse" data-target="#comment-<%= comment.id %>-reply" aria-expanded="false">
          Reply
        </a>
        <!-- Reply to this comment -->
        <div class="collapse" id="comment-<%= comment.id %>-reply">
          <p id="<%= "comment-#{comment.id}-reply-message" %>"></p>
          <%= text_area_tag(:body, nil, rows: 3, cols: 100, class: 'form-control', id: "comment-#{comment.id}-reply-content", maxlength: 256) %>
          <%= link_to 'submit', 'javascript:void(0)',
                      onclick: "submitReply(#{comment.id}, '#comment-#{comment.id}-reply-content', '#comment-#{comment.id}-reply-message', '#comment-#{comment.id}-show-reply', '#{yield(:comment_path)}')" %>
        </div>
    <% end %>

    <br/>
    ================================================
    <br/>

<% end %>


<button type="button" id="comment-button" class="btn btn-success" data-toggle="collapse" data-target="#new-comment" aria-expanded="false">
  Add comment
</button>

<div class="collapse" id="new-comment">
  <%= form_tag(yield(:comment_path)) %>
  <div class="form-group">
    <%= label_tag(:body, 'Your comment can be at most 256 characters long') %>
    <!-- Put disabled if user is not logged in -->
    <%= text_area_tag(:body, nil, rows: 3, cols: 100, class: 'form-control', maxlength: 256) %>
  </div>

  <%= submit_tag 'Submit', class: 'btn btn-success' %>
</div>

<script>
    var editor = ace.edit('editor');
    editor.setTheme('ace/theme/twilight');
    editor.getSession().setMode('ace/mode/<%="#{@solution.language.ace_mode}"%>');
    editor.setReadOnly(true);

    submitReply = function (parent_id, body_id, msg_id, reply_thread_id, url) {

        var text_area = $(body_id);
        var msg = $(msg_id);
        var reply_content = text_area.val();

        text_area.attr("disabled", true);
        msg.text("Updating content...");
        $.post(url, {
            parent_id: parent_id,
            is_reply: true,
            body: reply_content
        }).done(function () {
            msg.text("Successfully posted your comment!");
            var show_replies = $(reply_thread_id);

            if (!show_replies.hasClass('in')) {
                show_replies.addClass('in');
            }

            show_replies.append('|--:&nbsp;' + reply_content + '<br/>');
            text_area.val('');


        }).fail(function () {
            msg.text("Sorry, there was error while posting your comment!");
        }).always(function () {
            text_area.attr("disabled", false);
        });
    };

    $('#comment-button').click(function () {
        if ($('#new-comment').hasClass('in')) {
            $(this).text('Add comment');
        } else {
            $(this).text('Cancel');
        }
    });
</script>