<div class="panel panel-success">
  <div class="panel-heading solution_sub_header">
    Solution info
  </div>
  <div class="panel-body">
    <% @solution_info.each do |attr_name, value| %>
        <div class="row">
          <div class="col-md-2 text-right solution_display_label">
            <%= attr_name %>
          </div>
          <div class="text-left solution_display_value">
            <%= value %>
          </div>
        </div>
    <% end %>
    <div class="row">
      <div class="col-md-2 text-right solution_display_label">
        Author
      </div>
      <div class="text-left solution_display_value">
        <%= link_to @solution.user.username, user_path(@solution.user), target: '_blank' %>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading solution_sub_header">
    Solution
  </div>
  <%= link_to 'Download', yield(:download_path) %>

  <div class="panel-body">
    <div id="editor" style="height: 500px"><%= @content %></div>
  </div>
</div>


<%= link_to 'Upload more solutions!', yield(:upload_path) %>
<%= link_to 'See other solutions', yield(:index_path) %>


<script>
    var editor = ace.edit('editor');
    editor.setTheme('ace/theme/twilight');
    editor.getSession().setMode('ace/mode/<%="#{@solution.language.ace_mode}"%>');
    editor.setReadOnly(true);
</script>
